body{background:#fff;color:#111;font-family:sans-serif;}
a:link{color:#06c;text-decoration:none;}
	a:visited{}
	a:hover{color: #060;text-decoration:underline;}
	a:active{}
form{display:inline;}
fieldset{border:0;}
h1{color:#77bcdd;font-weight:bold;letter-spacing:-2px;}
h2{background-color:#ccc;border:2px solid #444;display:inline;font-size:2em;padding:5px;}
h3{font-size:1.3em;font-weight:bold;letter-spacing:-1px;margin-bottom:0px;text-decoration:none;word-spacing:5px;}
	h3:hover{text-decoration:underline;}
h4{}
ul{margin-top:0px;}
	ul > li{color:#036;list-style-type:disc;}

#wrapper{margin:0 auto;padding:3px;width:95%;}
	header{background:url(../images/librarieslogo.gif) top left no-repeat;height:105px;text-align:center;}
	#catalog{background-color:#fcf7e3;border-bottom:1px solid #CCFFFF;margin:0 auto;min-width:310px;padding:7px 20px;text-align:center;}
		#catText{border:2px solid #7B9D18;color:#666;font-size:20px;height:25px;width:300px;}
		#catSubmit{background-color:#7B9D18;border:2px solid #384E0E;color:#fff;font-size:1.2em;vertical-align:bottom;}
	#sidebar{border:1px solid #cff;float:left;padding:5px;}
	#mainpane{float:left;padding:10px 5px 20px 170px;}
	#footer{border-top:1px solid #CCFFFF;clear:both;}
		#featured{background:url(../images/autoBanner.gif) top center no-repeat;height:94px;text-align:center;}
		#footContent{background:#369 url(http://maui.hawaii.edu/library/files/logoSm.gif) center left no-repeat;border-top:4px solid #66CC00;border-bottom:4px solid #66CC00;color:#ffffff;font-size:0.7em;font-weight:bold;margin-top:7px;min-height:90px;text-align:center;}

.0099CC{color:#0099CC;}
.009966{color:#009966;}
.CC6633{color:#CC6633;}
.ED0A70{color:#ED0A70;}
.FF9900{color:#FF9900;}
.sub{margin-left:30px;}
.sideHighlight{background:url(../images/striped.gif) top left;padding:5px;}
.bigDeal{background: #EFDAE3 url(../images/bigdeal.gif) top left no-repeat;border:2px solid #ED0A70;color:#000;margin:15px 0 0 -130px;max-width:600px;min-height:45px;padding:7px 5px 5px 50px;}
.email{color:#fff;}